<?xml version="1.0" ?>
<model>
    <name>quantum_robotics_aruco</name>
    <version>1.0</version>
    <sdf version="1.0">aruco_post.sdf</sdf>
    <author>
        <name>jose angel del angel</name>
        <email>joseangeldelangel10@gmail.com</email>
    </author>
    <description></description>
</model>
