<launch>

<rosparam file="$(find qrteam_fusion_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="qrteam_fusion" args="JointFrontRight_position_controller JointFrontLeft_position_controller JointBackLeft_position_controller JointBackRight_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/qrteam_fusion/joint_states"/>
</node>

</launch>